# Virtual environment
venv*/
venv_tensorboard/
.venv/
env*/
.env/

# Large files
*.dll
*.pyd
/llm/dataset/img_data
llm/dataset/data.csv
llm/dataset/data_clean.csv

# Other
__pycache__/
*.pyc
scaler.pkl