huggingface_hub[cli]
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/trl.git
datasets
bitsandbytes
peft
qwen-vl-utils
wandb
accelerate
#torch==2.4.1+cu121 --extra-index-url https://download.pytorch.org/whl/cu121
#torchvision==0.19.1+cu121 --extra-index-url https://download.pytorch.org/whl/cu121
#torchaudio==2.4.1+cu121 --extra-index-url https://download.pytorch.org/whl/cu121
torch --extra-index-url https://download.pytorch.org/whl/cu121
torchvision --extra-index-url https://download.pytorch.org/whl/cu121
torchaudio --extra-index-url https://download.pytorch.org/whl/cu121
ipywidgets
pandas
numpy
matplotlib
tqdm